# Ignore everything in the upload folder
**/*
!/.gitignore
!/CHANGELOG.md
!/metadata.xml
!/README.md

# Except extension directories
!upload/
!upload/admin/

!upload/system/
!upload/system/library/
!upload/system/library/globalpayments.php
!upload/system/library/globalpayments/
!upload/system/library/globalpayments/composer.json
!upload/system/library/globalpayments/composer.lock
!upload/system/library/globalpayments/globalpayments/
!upload/system/library/globalpayments/globalpayments/php-integrations/
!upload/system/library/globalpayments/globalpayments/php-integrations/*
!upload/system/library/globalpayments/globalpayments/php-integrations/**

# upload/admin/controller/extension/payment
!upload/admin/controller/
!upload/admin/controller/extension/
!upload/admin/controller/extension/payment/
!upload/admin/controller/extension/payment/globalpayments_gpitrans.php
!upload/admin/controller/extension/payment/globalpayments_ucp.php
!upload/admin/controller/extension/payment/globalpayments_txnapi.php
!upload/admin/controller/extension/payment/globalpayments_applepay.php
!upload/admin/controller/extension/payment/globalpayments_googlepay.php
!upload/admin/controller/extension/payment/globalpayments_clicktopay.php
!upload/admin/controller/extension/payment/globalpayments_affirm.php
!upload/admin/controller/extension/payment/globalpayments_clearpay.php
!upload/admin/controller/extension/payment/globalpayments_klarna.php
!upload/admin/controller/extension/payment/globalpayments_paypal.php

# upload/admin/language for all languages
!upload/admin/language/

# upload/admin/language/en-gb/extension/payment
!upload/admin/language/en-gb/
!upload/admin/language/en-gb/extension/
!upload/admin/language/en-gb/extension/payment/
!upload/admin/language/en-gb/extension/payment/globalpayments_ucp.php
!upload/admin/language/en-gb/extension/payment/globalpayments_applepay.php
!upload/admin/language/en-gb/extension/payment/globalpayments_googlepay.php
!upload/admin/language/en-gb/extension/payment/globalpayments_clicktopay.php
!upload/admin/language/en-gb/extension/payment/globalpayments_ucp_order.php
!upload/admin/language/en-gb/extension/payment/globalpayments_affirm.php
!upload/admin/language/en-gb/extension/payment/globalpayments_clearpay.php
!upload/admin/language/en-gb/extension/payment/globalpayments_klarna.php
!upload/admin/language/en-gb/extension/payment/globalpayments_gpitrans.php
!upload/admin/language/en-gb/extension/payment/globalpayments_gpitrans_order.php
!upload/admin/language/en-gb/extension/payment/globalpayments_txnapi.php
!upload/admin/language/en-gb/extension/payment/globalpayments_paypal.php

# upload/admin/language/fr-ca
!upload/admin/language/fr-ca/
!upload/admin/language/fr-ca/fr-ca.php

# upload/admin/model/extension/payment
!upload/admin/model/
!upload/admin/model/extension/
!upload/admin/model/extension/payment/
!upload/admin/model/extension/payment/globalpayments_ucp.php
!upload/admin/model/extension/payment/globalpayments_applepay.php
!upload/admin/model/extension/payment/globalpayments_googlepay.php
!upload/admin/model/extension/payment/globalpayments_clicktopay.php
!upload/admin/model/extension/payment/globalpayments_affirm.php
!upload/admin/model/extension/payment/globalpayments_clearpay.php
!upload/admin/model/extension/payment/globalpayments_klarna.php
!upload/admin/model/extension/payment/globalpayments_gpitrans.php
!upload/admin/model/extension/payment/globalpayments_txnapi.php
!upload/admin/model/extension/payment/globalpayments_paypal.php

# upload/admin/view/template/extension/payment
!upload/admin/view/
!upload/admin/view/template/
!upload/admin/view/template/extension/
!upload/admin/view/template/extension/payment/
!upload/admin/view/template/extension/payment/globalpayments_ucp.twig
!upload/admin/view/template/extension/payment/globalpayments_applepay.twig
!upload/admin/view/template/extension/payment/globalpayments_googlepay.twig
!upload/admin/view/template/extension/payment/globalpayments_clicktopay.twig
!upload/admin/view/template/extension/payment/globalpayments_ucp_order.twig
!upload/admin/view/template/extension/payment/globalpayments_ucp_order_ajax.twig
!upload/admin/view/template/extension/payment/globalpayments_affirm.twig
!upload/admin/view/template/extension/payment/globalpayments_clearpay.twig
!upload/admin/view/template/extension/payment/globalpayments_klarna.twig
!upload/admin/view/template/extension/payment/globalpayments_txnapi.twig
!upload/admin/view/template/extension/payment/globalpayments_gpitrans.twig
!upload/admin/view/template/extension/payment/globalpayments_paypal.twig

# upload/catalog/controller/extension/credit_card
!upload/catalog/
!upload/catalog/controller/
!upload/catalog/controller/extension/
!upload/catalog/controller/extension/credit_card/
!upload/catalog/controller/extension/credit_card/globalpayments_ucp.php
!upload/catalog/controller/extension/credit_card/globalpayments_gateway.php
!upload/catalog/controller/extension/credit_card/globalpayments_txnapi.php

# upload/catalog/controller/extension/payment
!upload/catalog/controller/extension/payment/
!upload/catalog/controller/extension/payment/globalpayments_ucp.php
!upload/catalog/controller/extension/payment/globalpayments_applepay.php
!upload/catalog/controller/extension/payment/globalpayments_googlepay.php
!upload/catalog/controller/extension/payment/globalpayments_clicktopay.php
!upload/catalog/controller/extension/payment/globalpayments_affirm.php
!upload/catalog/controller/extension/payment/globalpayments_clearpay.php
!upload/catalog/controller/extension/payment/globalpayments_klarna.php
!upload/catalog/controller/extension/payment/globalpayments_gpitrans.php
!upload/catalog/controller/extension/payment/globalpayments_txnapi.php
!upload/catalog/controller/extension/payment/globalpayments_paypal.php

# upload/catalog/language for all languages
!upload/catalog/language/

# upload/catalog/language/en-gb/extension/payment
!upload/catalog/language/en-gb/
!upload/catalog/language/en-gb/extension/
!upload/catalog/language/en-gb/extension/payment/
!upload/catalog/language/en-gb/extension/payment/globalpayments_affirm.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_clearpay.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_klarna.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_ucp.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_applepay.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_googlepay.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_clicktopay.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_txnapi.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_paypal.php

# upload/catalog/language/fr-ca
!upload/catalog/language/fr-ca/
!upload/catalog/language/fr-ca/fr-ca.php

# upload/catalog/language/en-gb/extension/credit_card
!upload/catalog/language/en-gb/extension/credit_card/
!upload/catalog/language/en-gb/extension/credit_card/globalpayments_ucp.php
!upload/catalog/language/en-gb/extension/credit_card/globalpayments_txnapi.php

# upload/catalog/model/extension/payment
!upload/catalog/model/
!upload/catalog/model/extension/
!upload/catalog/model/extension/payment/
!upload/catalog/model/extension/payment/globalpayments_ucp.php
!upload/catalog/model/extension/payment/globalpayments_applepay.php
!upload/catalog/model/extension/payment/globalpayments_googlepay.php
!upload/catalog/model/extension/payment/globalpayments_clicktopay.php
!upload/catalog/model/extension/payment/globalpayments_affirm.php
!upload/catalog/model/extension/payment/globalpayments_clearpay.php
!upload/catalog/model/extension/payment/globalpayments_klarna.php
!upload/catalog/model/extension/payment/globalpayments_gpitrans.php
!upload/catalog/model/extension/payment/globalpayments_txnapi.php
!upload/catalog/model/extension/payment/globalpayments_gateway.php
!upload/catalog/model/extension/payment/globalpayments_paypal.php

# upload/catalog/view/javascript
!upload/catalog/view/
!upload/catalog/view/javascript/
!upload/catalog/view/javascript/globalpayments-3ds.js
!upload/catalog/view/javascript/globalpayments-3ds.min.js
!upload/catalog/view/javascript/globalpayments-3ds.min.js.map

# upload/catalog/view/theme/default/template/extension/credit_card
# upload/catalog/view/theme/default/template/extension/payment
!upload/catalog/view/theme/
!upload/catalog/view/theme/default/
!upload/catalog/view/theme/default/template/
!upload/catalog/view/theme/default/template/extension/
!upload/catalog/view/theme/default/template/extension/credit_card/
!upload/catalog/view/theme/default/template/extension/credit_card/globalpayments_ucp_add.twig
!upload/catalog/view/theme/default/template/extension/credit_card/globalpayments_ucp_list.twig
!upload/catalog/view/theme/default/template/extension/credit_card/globalpayments_add_form.twig
!upload/catalog/view/theme/default/template/extension/credit_card/globalpayments_card_list.twig
!upload/catalog/view/theme/default/template/extension/credit_card/globalpayments_txnapi_add.twig

# upload/catalog/view/theme/default/template/extension/payment
!upload/catalog/view/theme/default/template/extension/payment/
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_ucp.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_applepay.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_googlepay.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_clicktopay.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_affirm.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_clearpay.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_klarna.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_gpitrans.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_txnapi.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_pay_form.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_paypal.twig
