# Ignore everything in the upload folder
tests/
storage/
.idea/
upload/
CHANGELOG.md
CHANGELOG_AUTO.md
build.xml
composer.json
composer.lock
install.txt
license.txt
upgrade.txt
# Except extension files
!upload/admin/controller/extension/payment/globalpayments_ucp.php
!upload/admin/controller/extension/payment/globalpayments_applepay.php
!upload/admin/controller/extension/payment/globalpayments_googlepay.php
!upload/admin/controller/extension/payment/globalpayments_clicktopay.php
!upload/admin/language/en-gb/extension/payment/globalpayments_ucp.php
!upload/admin/language/en-gb/extension/payment/globalpayments_applepay.php
!upload/admin/language/en-gb/extension/payment/globalpayments_googlepay.php
!upload/admin/language/en-gb/extension/payment/globalpayments_clicktopay.php
!upload/admin/language/en-gb/extension/payment/globalpayments_ucp_order.php
!upload/admin/model/extension/payment/globalpayments_ucp.php
!upload/admin/model/extension/payment/globalpayments_applepay.php
!upload/admin/model/extension/payment/globalpayments_googlepay.php
!upload/admin/model/extension/payment/globalpayments_clicktopay.php
!upload/admin/view/template/extension/payment/globalpayments_ucp.twig
!upload/admin/view/template/extension/payment/globalpayments_applepay.twig
!upload/admin/view/template/extension/payment/globalpayments_googlepay.twig
!upload/admin/view/template/extension/payment/globalpayments_clicktopay.twig
!upload/admin/view/template/extension/payment/globalpayments_ucp_order.twig
!upload/admin/view/template/extension/payment/globalpayments_ucp_order_ajax.twig
!upload/catalog/controller/extension/credit_card/globalpayments_ucp.php
!upload/catalog/controller/extension/payment/globalpayments_ucp.php
!upload/catalog/controller/extension/payment/globalpayments_applepay.php
!upload/catalog/controller/extension/payment/globalpayments_googlepay.php
!upload/catalog/controller/extension/payment/globalpayments_clicktopay.php
!upload/catalog/language/en-gb/extension/credit_card/globalpayments_ucp.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_ucp.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_applepay.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_googlepay.php
!upload/catalog/language/en-gb/extension/payment/globalpayments_clicktopay.php
!upload/catalog/model/extension/payment/globalpayments_ucp.php
!upload/catalog/model/extension/payment/globalpayments_applepay.php
!upload/catalog/model/extension/payment/globalpayments_googlepay.php
!upload/catalog/model/extension/payment/globalpayments_clicktopay.php
!upload/catalog/view/javascript/globalpayments-3ds.js
!upload/catalog/view/theme/default/template/extension/credit_card/globalpayments_ucp_add.twig
!upload/catalog/view/theme/default/template/extension/credit_card/globalpayments_ucp_list.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_ucp.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_applepay.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_googlepay.twig
!upload/catalog/view/theme/default/template/extension/payment/globalpayments_clicktopay.twig
!upload/system/library/globalpayments.php
!upload/system/library/globalpayments/