<h3>{{ text_payment_info }}</h3>
<div id="table-alert"></div>
<div id="table-action"></div>

<script type="text/javascript"><!--
	function getTransaction () {
		$.ajax({
			url: 'index.php?route=extension/payment/globalpayments_ucp/getTransaction&user_token={{ user_token }}',
			dataType: 'html',
			data: {
				order_id: '{{ order_id }}',
				payment_code: '{{ payment_code }}'
			},
			beforeSend: function () {
				$('#button-filter').button('loading');

				$('#table-action').html('<i class="globalpayments fa fa-spinner fa-spin fa-5x" style="text-align: center; margin: 0 auto; width: 100%; font-size: 5em;"></i>');
			},
			complete: function () {
				$('#button-filter').button('reset');
			},
			success: function (html) {
				$('#table-action').html(html);
			}
		})
	}

	getTransaction();
//--></script>
